body{
    background-color:green;
}
.textorojo{
    font-size: 200%;
    color: rgb(253, 19, 19);
    text-align: center;

    

}
h2{
    font-size: 150%;
    color: rgb(232, 232, 15);
   
    
}
.header{
    font-size: 100%;
    color: rgb(247, 247, 247);
    margin:20px ;
    padding: 40px; 

}
h3{
    font-size: 200%;
    color: rgb(251, 247, 13);
    
}

p {
    font-style: italic;
    font-family:cursive;
    color: rgb(255, 255, 255);
   
}
#nacimiento{
margin:20px ;
padding: 40px; 
border-radius:40px ;
border:2px solid rgb(212, 255, 0) ;
}


    

